---
layout: default
title: Home - maxwellmcneal
---
<h1>Welcome</h1>
<p>Welcome to my website! My name is Maxwell McNeal. I am an avid data scientist, specializing in web scraping, data visualization, and sports analytics. This website is a place for me to share my work with the world and show people what I'm up to. I'm a proud UCLA graduate, go Bruins!</p>


<h1>Most Recent Blog Post</h1>
{% for post in site.posts %}
    {% if forloop.first == true %}
        <article>
			<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
			<p>Published {{ post.date | date_to_long_string }} </p>
			<p>{{ post.excerpt }} </p>
		</article>
	{% endif %}
{% endfor %}